player {
    position: absolute;
    width: 50px;
    height: 100px;
    z-index: 0;
}
player face {
    background: pink;
    width: 50%;
    height: 30%;
    margin-left: 25%;
    border-radius: 40%;
}
player face::after {
    position: absolute;
    left: 40%;
    top: 30%;
    content: '';
    width: 20%;
    height: 20%;
    background: white;
}
player arm, player leg {
    position: absolute;
    left: 20%;
    transform-origin: top center;
}
player arm {
    top: 35%;
    left: 35%;
    width: 30%;
    height: 60%;
    z-index: 1;
}
player leg {
    top: 80%;
    left: 30%;
    width: 40%;
    height: 80%;
}
player arm upper, player leg upper, player arm lower, player leg lower {
    width: 100%;
    height: 50%;
    background: blue;
    border-radius: 10px;
}
player arm lower, player leg lower {
    background: pink;
    margin-left: 10%;
    width: 80%;
    transform-origin: top center;
}
player .left {
    z-index: -1;
}
player torso {
    margin-top: 10%;
    margin-left: 15%;
    width: 70%;
    height: 70%;
    background: white;
    border-radius: 30%;
}
